  version : '3.8'
  services:
    db:
      image: postgres:15
      volumes:
        - postgres_data:/var/lib/postgresql/data
      environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
        POSTGRES_DB: todo_db
      ports:
        - "5433:5432"

    web:
      build: .
      command: uvicorn app.main:app --host 0.0.0.0 --port 8000
      volumes:
        - .:/app
      ports:
        - "8000:8000"
      environment:
        - DATABASE_URL=postgresql://myuser:mypassword@db:5432/todo_db
      depends_on:
        - db

  volumes:
    postgres_data: